
ul {
	list-style-type: none;
}

header {
	color: #ffffff;
	background-color: #4aaaa5;
	text-align: center;
	margin-right: 800px;
	margin-left: 25px;
	position: relative;
	top: 21px;
}

#navbar {
	color: #777777;
	float: right;
	position: relative;
	bottom: 50px;
	right: 125px;
}

.container {
	margin: 0px 340px 45px 25px;
	border-color: #eeeeee;
	background-color: #FFFFFF;
}

.about-me {
	float: left;
	padding-right: 15px;
}

.contact {
	float: left;
	padding-right: 15px;
}

.portfolio {
	float: left;
}
.proimg {
	float: left;
	padding-right: 10px;
}

.connectbox {
	float: right;
	background-color: #FFFFFF;
	position: relative;
	bottom: 205px;
	left: 200px;
}

.connectbox2 {
	float: right;
	background-color: #FFFFFF;
	position: relative;
	bottom: 303px;
	left: 200px;
}

.connectbox3 {
	float: right;
	background-color: #FFFFFF;
	position: relative;
	bottom: 710px;
	right: 140px;
}

h2 {
	color: #4aaaa5;
}

h4 {
	color: #4aaaa5;
	position: relative;
	left: 20px;
}

h5 {
	text-align: center;
	position: relative;

}

footer {
	background-color: #666666;
	color: #FFFFFF;
	height: 45px;
	border-top-style: solid;
	border-top-color: #4aaaa5;
}

.gicon {
	float: left;
	position: relative;
	right: 30px;
}

.licon {
	float: left;
	position: relative;
	right: 20px;
}

.sicon {
	float: right;
	position: relative;
	right: 10px
}


@media screen and (max-width: 980px) {
	header {
		width: 100%;
	}

	#navbar {
		width: 100%;
	}

	.container {
		width: 100%;
	}

	.connectbox1 {
		float: none;
	}

	.connectbox2 {
		float: none;
	}

	.connectbox3 {
		float: none;
	}
}

@media screen and (max-width: 768px) {
	header {
		width: 100%;
	}

	#navbar {
		width: 100%;
	}

	.container {
		width: 100%;
	}


	.connectbox1 {
		float: none;
	}

	.connectbox2 {
		float: none;
	}

	.connectbox3 {
		float: none;
	}
}

@media screen and (max-width: 640px) {
	header {
		width: 100%;
	}

		#navbar {
		width: 100%;
	}

	.container {
		width: 100%;
	}

	
	.connectbox1 {
		float: none;
	}

	.connectbox2 {
		float: none;
	}

	.connectbox3 {
		float: none;
	}
}