

ul {
	list-style-type: none;
}

header {
	color: #ffffff;
	background-color: #4aaaa5;
	width: 325px;
	height: 75px;
	padding:25px;
	margin: 25px;
}

#navbar {
	color: #777777;
	float: right;

}

.about-me {
	float: left;
}

.contact {
	float: left;
	padding-left: 10px;
}

.portfolio {
	float: left;
	padding-left: 10px;
}

.connectbox {
	border: 1px solid;
	border-color: #eeeeee;
	float: left;
	margin-left: 70%;
}

#profile-pic {
	padding-right: 10px;
	float: left;
}

h2 {
	color: #4aaaa5;
}

h4 {
	text-align: center;
	margin-left: auto;
	color: #4aaaa5;
}

footer {
	padding-top: 230px;
}

.gicon {
	float: left;
}

.licon {
	float: left;
	padding-left: 10px;
}

.sicon {
	float: left;
	padding-left: 10px;
}